*
{
    box-sizing: border-box;
    margin: 0;
}

.container *
{
    box-sizing: border-box;
    margin: 0;
}

/* overall container */
.container
{
    float: left;
    margin: 0 250px;
    text-align: center;
}

/* basement starts */
/* base triangle */
.part1
{
    width: 350px;
    height: 0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 115px solid #000;
    display: block;
    text-align: center;
    position: relative;
}

/* circle shape in base triangle */
.part1 .circle
{
    width: 215px;
    height: 220px;
    border-radius: 160px;
    background-color: #fff;
    display: inline-block;
    margin-top: 25px;
}

.part1 .style_bar
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
}

/* base  white line design starts */
/* left leg starts */
.part1 .p1_bar_1_s1
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 102px;
    left: -58px;
    width: 64px; 
}

.part1 .p1_bar_1_s2
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 82px;
    left: -46px;
    width: 57px;
}

.part1 .p1_bar_1_s3
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 62px;
    left: -34px;
    width: 56px;
}

.part1 .p1_bar_1_s4
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 42px;
    left: -21px;
    width: 56px;
}

.part1 .p1_bar_1_s5
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 22px;
    left: -9px;
    width: 56px;
}

.part1 .p1_bar_1_s6
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 5px;
    left: 0px;
    width: 219px;
}
/* left leg ends */

/* right leg starts*/
.part1 .p1_bar_r_s1
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 102px;
    right: -58px;
    width: 61px;
}

.part1 .p1_bar_r_s2
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 82px;
    right: -46px;
    width: 57px;
}

.part1 .p1_bar_r_s3
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 62px;
    right: -34px;
    width: 56px;
}

.part1 .p1_bar_r_s4
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 42px;
    right: -21px;
    width: 56px;
}

.part1 .p1_bar_r_s5
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 22px;
    right: -8px;
    width: 56px;
}
/* right leg ends */
/* base white lines ends */

/* left base */
.base1 
{
    width: 84px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 116px;
    left: -73px;
}

/* right base */
.base2
{
    position: absolute;
    width: 84px;
    height: 10px;
    background: #000;
    top: 116px;
    right: -73px;
}
/* basement end */

/* 2nd part starts */
.part2_container
{
    display: block;
}

 /* horizontal bar on the base */
.part2_container .part2 
{
    width: 220px;
    height: 23px;
    background: #000;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

/* white strip in the horizontal bar */
.part2_container .p2_bar_s
{
    height: 8px;
    bottom: 0;
    border-style: dashed;
    position: absolute;
    border-color: #000;
    background-color: #fff;
    transform: scaleY(1);
    top: 6px;
    width: 216px;
    left: 0px;
}
/* parrt 2 design ends */

/* part 3 design starts */
.part3_container
{
    display: block;
}

/* triangle on the horizontal bar  */
.part3_container .part3 
{
    width: 205px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

/* white box in the triangle */
.part3_container .part3 .p3_s1
{
    width: 100px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    border-bottom: 60px solid #fff;
    display: inline-block;
    margin-top: 20px;
}

/* white stripes starts */
.part3_container .p3_bar_s
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background-color: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
}

.part3_container .p3_bar_1_s1
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 73px;
    width: 39px;
    left: -37px;
}

.part3_container .p3_bar_1_s2
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 53px;
    width: 39px;
    left: -28px;
}

.part3_container .p3_bar_1_s3
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 33px;
    width: 38px;
    left: -18px;
}

.part3_container .p3_bar_1_s4
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 7px;
    width: 112px;
    left: -4px;
}

.part3_container .p3_bar_1_s5
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 87px;
    width: 112px;
    left: -4px;
}

.part3_container .p3_bar_r_s1 {
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 73px;
    width: 39px;
    right: -37px;
  }

  .part3_container .p3_bar_r_s2
  {
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 53px;
    width: 39px;
    right: -28px;
  }

  .part3_container .p3_bar_r_s3
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 33px;
    width: 39px;
    right: -19px;
}

/* white stripes ends */
/* part 3 design ends */

/* part 4 starts */
.part4_container
{
    display: block;
}

/* horizontal bar */
.part4_container .part4 
{
    width: 105px;
    height: 20px;
    background: #000;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.part4_container .p4_bar_s
{
    height: 8px;
    bottom: 0;
    border-style: dashed;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    top: 4px;
    width: 101px;
    left: 0px;
}
/* part 4 ends */

/* prt 5 starts */
.part5_container
{
    display: block;
}

/* top triangle */
.part5_container .part5 
{
    width: 98px;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 278px solid #000;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

/* center white triangle */
.part5_container .part5 .p5_s1
{
    width: 35px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 165px solid #fff;
    height: 0;
    display: inline-block;
    margin-top: 112px;
    margin-left: -12px;
}

.part5_container .p5_bar_s
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
}

/* white dot starts */
.part5_container .p5_bar_1_s1
{
    height: 7px;
  bottom: 0;
  border-style: dotted;
  position: absolute;
  border-color: #000;
  background: #fff;
  transform: scaleY(1);
  -webkit-animation: blink 25s 0.5s ease-in-out 3;
  -moz-animation: blink 25s 0.5s ease-in-out 3;
  animation: blink 25s 0.5s ease-in-out 3;
  top: 270px;
  width: 30px;
  left: -43px;
}

.part5_container .p5_bar_1_s2 
{
    height: 7px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    transform: scaleY(1);
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
    top: 250px;
    width: 30px;
    left: -40px;
}
/* white dot ends */
/* part 5 ends */