*
{
    box-sizing: border-box;
    margin: 0;
}

.container *
{
    box-sizing: border-box;
    margin: 0;
}

/* overall container */
.container
{
    float: left;
    margin: 0 250px;
    text-align: center;
}

/* base triangle */
.part1
{
    width: 350px;
    height: 0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 115px solid #000;
    display: block;
    text-align: center;
    position: relative;
}

/* circle shape in base triangle */
.part1 .circle
{
    width: 215px;
    height: 220px;
    border-radius: 160px;
    background-color: #fff;
    display: inline-block;
    margin-top: 25px;
}

.part1 .style_bar
{
    height: 8px;
    bottom: 0;
    border-style: dotted;
    position: absolute;
    border-color: #000;
    background: #fff;
    -webkit-animation: blink 25s 0.5s ease-in-out 3;
    -moz-animation: blink 25s 0.5s ease-in-out 3;
    animation: blink 25s 0.5s ease-in-out 3;
}

.part1 .p1_bar_1_s1
{
    height: 8px;
}